*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  background:white;
  
}
section{
  width: 960px;
  height: 500px;
  margin: 0 auto;
  border: 2px solid black;
}

header,footer{
  padding: 10px;
  background: teal;
  border: 2px solid black;
  text-align: center;
  color:white;
}
#search-col{
  border: 1px solid black;
}
